rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /episodes/{episodeId} {
      allow read, write: if isSignedIn();

      match /adMarkers/{markerId} {
        allow read, write: if isSignedIn();
      }
    }

    match /ads/{adId} {
      allow read, write: if isSignedIn();
    }
  }
}
